In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from scipy import stats

In [ ]:
%cd '/content/drive/MyDrive/ML-DL/CodeGym'
!ls

/content/drive/MyDrive/ML-DL/CodeGym
Credit_Scoring.csv			  Untitled12.ipynb  Untitled4.ipynb
GDPlist.csv				  Untitled13.ipynb  Untitled5.ipynb
house_price_Dống-Da_Hà-Nội_subdata.csv	  Untitled14.ipynb  Untitled6.ipynb
OnlineRetail.csv			  Untitled15.ipynb  Untitled7.ipynb
shopeep_koreantop_clothing_shop_data.csv  Untitled16.ipynb  Untitled8.ipynb
Untitled0.ipynb				  Untitled1.ipynb   Untitled9.ipynb
Untitled10.ipynb			  Untitled2.ipynb
Untitled11.ipynb			  Untitled3.ipynb

In [ ]:
df = pd.read_csv('Credit_Scoring.csv', encoding="latin1")
df.head(3)

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,9,0,0.116951,27,0,46.000000,NaN,2,0,0,0,NaN
1,10,0,0.189169,57,0,0.606291,23684.0,9,0,4,0,2.0
2,11,0,0.644226,30,0,0.309476,2500.0,5,0,0,0,0.0

In [ ]:
df = df.dropna()
df.head()

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
1,10,0,0.189169,57,0,0.606291,23684.0,9,0,4,0,2.0
2,11,0,0.644226,30,0,0.309476,2500.0,5,0,0,0,0.0
3,12,0,0.018798,51,0,0.531529,6501.0,7,0,2,0,2.0
4,13,0,0.010352,46,0,0.298354,12454.0,13,0,2,0,2.0
5,14,1,0.964673,40,3,0.382965,13700.0,9,3,1,1,2.0

In [ ]:
r1, pvalue1 = stats.spearmanr(df.age, df.MonthlyIncome)
print ("r1: ", r1, "; pvalue1: ", pvalue1)

r1:  0.13459769502922447 ; pvalue1:  0.0

tương quan nhẹ

In [ ]:
r2, pvalue2 = stats.spearmanr(df.age, df.NumberOfOpenCreditLinesAndLoans)
print ("r2: ", r2, "; pvalue2: ", pvalue2)

r2:  0.20375146880683173 ; pvalue2:  0.0

tương quan nhẹ

In [ ]:
r3, pvalue3 = stats.spearmanr(df.NumberOfDependents, df.MonthlyIncome)
print ("r3: ", r3, "; pvalue3: ", pvalue3)

r3:  0.20446318654911377 ; pvalue3:  0.0

tương quan nhẹ

In [ ]:
r4, pvalue4 = stats.spearmanr(df.SeriousDlqin2yrs, df.MonthlyIncome)
print ("r4: ", r4, "; pvalue4: ", pvalue4)

r4:  -0.06702477242688387 ; pvalue4:  9.068427073158223e-120

tương quan nhẹ

In [ ]:
r5, pvalue5 = stats.spearmanr(df.RevolvingUtilizationOfUnsecuredLines, df.MonthlyIncome)
print ("r5: ", r5, "; pvalue5: ", pvalue5)

r5:  -0.07820289839387067 ; pvalue5:  1.8694803895161565e-162

tương quan nhẹ